doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, user-scalable=no")
    title Influx Query
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    #container
      form.login(method="post")
        input(type="text" name="username" placeholder="username")
        br
        input(type="password" name="password" placeholder="password")
        br
        input(type="submit" value="Login")
