body {
  background-color: #222;
  color: #ccc;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
}

input, select {
  box-sizing: border-box;
  background-color: #111;
  color: white;
  border: 1px solid #333;
  padding: 0.5rem;
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 5px;
  margin: 0 0.25rem 0.25rem 0.25rem;
}

.query {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.form-display-switcher button {
  box-sizing: border-box;
  background-color: #111;
  color: white;
  cursor: pointer;
  border: 1px solid #333;
  border-left: none;
  font-family: 'Ubuntu Mono', monospace;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}

.form-display-switcher button:focus {
  outline: none;
}

.form-display-switcher button.active {
  background-color: #333;
  cursor: inherit;
}

.form-display-switcher button:first-child {
  border-left: 1px solid #333;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-display-switcher button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form.login {
  padding-top: 6rem;
  text-align: center;
}

@media(min-width: 600px) {

  .query {
    display: flex;
  }

  .query .right {
    flex: 2;
  }

}

.query .right {
  display: flex;
  width: 100%;
}

.query .right .condition {
  flex: 2;
}

table {
  max-width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
}

table th {
  color: white;
  font-weight: normal;
  overflow: auto;
  resize: horizontal;
  text-align: left;
}

table th select {
  border: none;
  background-color: #222;
}

table th, table td {
  padding-right: 1rem;
}

table td {
  padding: 0.5rem 0;
  vertical-align: top;
}

table tbody tr:nth-child(odd) {
  background-color: #272727;
}

table td:nth-child(1) {
  white-space: nowrap;
}


table td .clickable {
  color: white;
  visibility: hidden;
}

table td:hover .clickable {
  visibility: visible;
}

.clickable:hover {
  color: #aaf;
  cursor: pointer;
}

.status {
  color: white;
  font-size: 0.8rem;
  left: 0;
  margin-top: 0.25rem;
  opacity: 0.8;
  padding: 0.5rem;
  position: fixed;
  right :0;
  text-align: center;
  top: 0;
}

.status.error {
  color: #faa;
}
