body {
  background-color: #222;
  color: #ccc;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
}

input, select {
  box-sizing: border-box;
  background-color: #111;
  color: white;
  border: 1px solid #333;
  padding: 0.5rem;
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 5px;
  margin: 0 0.25rem 0 0.25rem;
}

.query {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

@media(min-width: 600px) {

  .query {
    display: flex;
  }

  .query .right {
    flex: 2;
  }

}

.query .right {
  display: flex;
  width: 100%;
}

.query .right .condition {
  flex: 2;
}

table {
  max-width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
}

table th {
  color: white;
  font-weight: normal;
  overflow: auto;
  resize: horizontal;
  text-align: left;
}

table th select {
  border: none;
  background-color: #222;
}

table th, table td {
  padding-right: 1rem;
}

table td {
  padding: 0.5rem 0;
  vertical-align: top;
}

table tbody tr:nth-child(odd) {
  background-color: #272727;
}

table td:nth-child(1) {
  white-space: nowrap;
}


table td .clickable {
  color: white;
  visibility: hidden;
}

table td:hover .clickable {
  visibility: visible;
}

.clickable:hover {
  color: #aaf;
  cursor: pointer;
}

